.text-white {
    color: white;
}


.bg-white {
    background-color: white;
}

.text-logo {
    color: #f72210;
}

.bg-logo {
    background-color: #f72210;
}

body {
    font: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.font-links {
    font: bold 14px/14px "Roboto Condensed",sans-serif;
}

.wrapper {
    margin: 0 100px;
}

.header {
    height: 95px;
    padding: 20px 10px 15px;
}

.hd-image {
    min-width: 396px;
    width: 396px;
    height: 60px;
    min-height: 60px;
    margin: 10px auto 0;
}

@media (max-width: 991px) {
    .media-mobile {
        display: none !important;
    }

    .header {
        margin: 0;
        padding: 0;
        height:  50px;
        max-height: 50px;
    }

    .hd-image {
        min-width: 132px;
        width: 132px;
        height: 20px;
    }

    .font-links {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .media480px {
        display: none !important;
    }

    .text-logo {
        padding: 6px 3px !important;
    }

    .right {
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .font-links {
        font: bold 14px/14px "Roboto Condensed",sans-serif;
    }

    .menu-header {
        width: 30px;
        height: 30px;
    }
}