.text-white {
    color: white;
}

.color-logo {
    color: #f72210;
}

.bg-logo {
    background-color: #f72210;
}

body {
    font: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.font-links {
    font: bold 14px/14px "Roboto Condensed",sans-serif;
}

.wrapper {
    margin: 0 100px;
}

.header-desktop {
    height: 95px;
    padding: 20px 10px 15px;
}

.hd-image {
    min-width: 396px;
    width: 396px;
    height: 60px;
    min-height: 60px;
    margin: 10px auto 0;
}

@media (max-width: 991px) {
    .media-mobile {
        display: none !important;
    }

    .mobile-header {
        width: 991px;
        margin: auto;
    }

    .hd-image {
        min-width: 132px;
        width: 132px;
        height: 20px;
    }
}